 

 
 img {
 width:1000px;
  height: 400px;
  border-radius: 8px;
   display: block;
  margin-left: auto;
  margin-right: auto;
}



#images{
	visibility: hidden;
  height: 400px;
  width:1000px;
   display: block;
  margin-left: auto;
  margin-right: auto;

}



body{

  background-image: url("my favorit.jpg");
  background-repeat: repeat;
  background-size: 1000px 1500px;
}
 



h1{
	color:#ffffff;
	text-align: center;
  font-weight : bold ;
   font-size : 300% ;
   border-style:solid;
  border-color: #ffffff;
}


.mylist{
visibility: hidden;
}	


 p {
   visibility: hidden
 }



h2 {
	color:#ffffff
}



button {
  background-color: #0000ff;
  color: white;
  padding: 30px 150px;
}




a {
  color: #000080;
  font-weight : bold ;
   font-size : 200% ;
}


